.sign-up7 {
  position: absolute;
  top: 45px;
  left: 268px;
  font-size: var(--font-size-9xl);
}
.close-icon2 {
  position: absolute;
  top: 21px;
  left: 24px;
  width: 25px;
  height: 34px;
  object-fit: cover;
}
.email4 {
  position: absolute;
  top: 106px;
  left: 56px;
}
.component-10-inner,
.sign-up-child8 {
  position: absolute;
  top: 143px;
  left: 56px;
  border-radius: var(--br-3xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-saddlebrown-100);
  box-sizing: border-box;
  width: 521px;
  height: 53px;
}
.component-10-inner {
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.component-101,
.password {
  position: absolute;
  left: 56px;
}
.component-101 {
  top: 143px;
  width: 521px;
  height: 53px;
  font-size: var(--font-size-base);
  color: var(--color-saddlebrown-200);
}
.password {
  top: 221px;
}
.component-102,
.testcloudcartgmailcom {
  position: absolute;
  top: 32.08%;
  left: 4.03%;
}
.component-102 {
  top: 143px;
  left: 56px;
  width: 521px;
  height: 53px;
  font-size: var(--font-size-base);
}
.component-17-item {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: var(--br-mini);
  background-color: var(--color-yellowgreen);
}
.component-171,
.continue3 {
  position: absolute;
  top: 20.93%;
  left: 25.97%;
}
.component-171 {
  top: 373px;
  left: 226px;
  width: 181px;
  height: 43px;
  color: var(--color-white);
}
.div,
.invisible-icon1 {
  position: absolute;
  top: 32.08%;
  left: 3.65%;
}
.invisible-icon1 {
  height: 50.94%;
  width: 4.8%;
  top: 26.42%;
  right: 4.22%;
  bottom: 22.64%;
  left: 90.98%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
  object-fit: cover;
}
.component-161 {
  position: absolute;
  top: 260px;
  left: 56px;
  width: 521px;
  height: 53px;
  font-size: var(--font-size-base);
}
.sign-up6 {
  position: relative;
  border-radius: var(--br-21xl);
  background-color: var(--color-white);
  width: 634px;
  height: 587px;
  overflow: hidden;
  max-width: 90%;
  max-height: 90%;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--color-saddlebrown-100);
  font-family: var(--font-fredoka-one);
}
